.routerActivate { background-color:lightgrey; }
md-sidenav-layout{
height:100vh;
}


md-sidenav{
    width: 200px;
}

md-sidenav a{
    display: block;
    text-align:left;
    padding: 0.5em 1em;
    color: black;
    font-weight: bold;
    margin: 0.5em 0;
    text-transform: uppercase;
    text-decoration:none
}

md-sidenav a:nth-child(1){
    margin-top:2em;
}
md-sidenav a:hover{
    background-color: lightgrey;
}
md-icon{
    cursor: pointer;
}
md-card{
    height:100vh;
}


