/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
}
*{
font-family: 'Raleway', sans-serif;
}
h1, h2{
    color: white;
    font-family: 'Dancing Script', cursive;
}


